 <div class="col-md-3 text-center">
	<%= image_tag @product.tatuer.avatar(:round), class: "img-circle img-responsive img-center" %>
	<h3 class="order_details">
		We are almost there! 
		<h4><small>Set date, when You want to attend your session.</small></h4>
	</h3>
	<p class="order_details_2">If You do not have any account yet, You will be asked to create one. </p>
		
	<%= render 'orders/form', order: @product.orders.new %>
</div>	
	
<div class="col-md-9">
	<div class="thumbnail">
		<%= image_tag @product.avatar(:medium) %>
			<div class="caption-full">
				<h2 class="pull-right">$<%= @product.price %></h2>
				<h3><%= @product.name %></h3>
				<p><small><%= @product.description %></small></p>
			</div>
				
			<div class="ratings">
				<p class="pull-right"><%= @product.count_reviews %></p>
				<p>
				<% case @product.average_reviews %>
					<% when 1 %>
						<span class="glyphicon glyphicon-star"></span>
						<span class="glyphicon glyphicon-star-empty"></span>
						<span class="glyphicon glyphicon-star-empty"></span>
						<span class="glyphicon glyphicon-star-empty"></span>
						<span class="glyphicon glyphicon-star-empty"></span>
					<% when 2 %>
						<span class="glyphicon glyphicon-star"></span> 
						<span class="glyphicon glyphicon-star"></span>
						<span class="glyphicon glyphicon-star-empty"></span>
						<span class="glyphicon glyphicon-star-empty"></span>
						<span class="glyphicon glyphicon-star-empty"></span> 
					<% when 3 %>
						<span class="glyphicon glyphicon-star"></span> 
						<span class="glyphicon glyphicon-star"></span>
						<span class="glyphicon glyphicon-star"></span>
						<span class="glyphicon glyphicon-star-empty"></span>
						<span class="glyphicon glyphicon-star-empty"></span> 
					<% when 4 %>
						<span class="glyphicon glyphicon-star"></span> 
						<span class="glyphicon glyphicon-star"></span>
						<span class="glyphicon glyphicon-star"></span> 
						<span class="glyphicon glyphicon-star"></span>
						<span class="glyphicon glyphicon-star-empty"></span> 
					<% when 5 %>
						<span class="glyphicon glyphicon-star"></span> 
						<span class="glyphicon glyphicon-star"></span>
						<span class="glyphicon glyphicon-star"></span> 
						<span class="glyphicon glyphicon-star"></span>
						<span class="glyphicon glyphicon-star"></span>
					<% end %>
					</p>
			</div>
	</div>

	<div class="well">	
		<hr>
			<%= render 'reviews/index', reviews: @product.reviews %>
		<hr>
	</div>
</div>
